fastapi
uvicorn[standard]
huggingface_hub
pydantic
pandas
numpy
scikit-learn
requests
polyline
sqlalchemy
torch
python-dotenv
python-jose[cryptography]
sentence-transformers>=2.7.0,<4.0.0
transformers>=4.41.0,<5.0.0
numpy<2

Pillow
faiss-cpu
google-genai
